<h2>Comment page</h2>
<h2>(Render one blog post here)</h2>
<h3>Under construction Monday February 20 2023:</h3>
{{#each allBlogs}}
    <section class="box">
        
    <div class="blog_top">  
        <span class="title">{{blog_title}}</span>
    posted by: {{UserLogin.username}}  {{blog_date}}
    
    
    </div>
    {{!-- blog is a key transferred from the frontEndController.js file --}}
    <div>
    <p> {{blogpost}}</p>
    {{!-- <p id="id_section"> blog ID test {{id}} </p> --}}
    </div>
    
    </section>
{{/each}}

<form id="commentForm">
    <input type="text" id="commentInput" placeholder="comment on this blogpost">
    <button id="commentButton">Post comment</button>
</form>

<script src="/js/comment.js"></script>
