<h2>Dashboard</h2>
<h4> Blogs created by {{username}}:</h4>

{{#each Blogs}}
    
    {{!-- {{#if UserLogin}} --}}
    <section class="box" data-id="{{id}}" href="/updateordelete">
    <div data-id="{{id}}" class="blog_top">  
        <span class="title" data-id="{{id}}">{{blog_title}}</span>
    Date of blog: {{blog_date}}
    </div>
    <div data-id="{{id}}">
    {{!-- <p> {{Blog.blogpost}}</p> --}}
    <p data-id="{{id}}"> {{blog_title}}</p>
    <p id="id_section" data-id="{{id}}">{{id}} </p>
    <a id="commented" href="/comment"> add comment</a>
    </div>

    
    {{!-- blog is a key transferred from the frontEndController.js file --}}
    {{!-- test: {{username}} --}}
    {{!-- test: {{UserLogin.username}} --}}
    {{!-- test: {{blogData.UserLogin.username}}  --}}
    {{!-- test: {{UserLogin.dataValues.username}} --}}
    {{!-- {{UserLogin.username}}  {{blog_date}} --}}
    {{!-- {{blog_date}} --}}
    {{!-- {{allBlogs}} --}}
    {{!-- {{/if}} --}}
    </section>
{{/each}}

<form id="dashboardForm">
    <input type="text" id="title" placeholder="title of blog">
    <input type="text" id="posting" placeholder="type blog here">
    <button id="postButton">Post</button>
</form>



<script src="/js/dashboard.js"></script>
