<h1>Welcome to The Tech Blog!</h1>
{{!-- <h3>The cat is currently: {{ cat }} </h3> --}}
<h2>All blog posts</h2>
{{!-- allBlogs is a key of a key value pair created in the frontEndController.js file --}}
{{#each allBlogs}}
    <section class="box">
        
    <div class="blog_top">  
        <span class="title">{{blog_title}}</span>
    posted by: {{UserLogin.username}} on {{blog_date}}
    
    
    </div>
    {{!-- blog is a key transferred from the frontEndController.js file --}}
    <div>
    <p> {{blogpost}}</p>
    {{!-- <p id="id_section"> blog ID test {{id}} </p> --}}
    <a id="commented" href="/comment"> add comment</a>
    </div>
    
    </section>
{{/each}}

{{!-- <script>
    // console.log("Test of blog document", document.children[0].children[1].children[1].children[4].children[0])

</script> --}}